<entry>
<name>Latte</name>
<category>Classics</category>
</entry>

<entry>
<name>Mocha</name>
<category>Classics</category>
</entry>

<entry>
<name>Mayan Mocha</name>
<category>Classics</category>
</entry>

<entry>
<name>Cappuccino</name>
<category>Classics</category>
</entry>

<entry>
<name>Americano</name>
<category>Classics</category>
</entry>

<entry>
<name>House Coffee</name>
<category>House Coffee</category>
</entry>

<entry>
<name>Cafe Au Lait</name>
<category>House Coffee</category>
</entry>

<entry>
<name>Shot in the Dark</name>
<category>House Coffee</category>
</entry>

<entry>
<name>Double Shot in the Dark</name>
<category>House Coffee</category>
</entry>

<entry>
<name>House Coffee</name>
<category>House Coffee</category>
</entry>

